<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Evolent Health Contact List</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="/js/app.js"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-sm-2">
				<p>
					<a th:href="@{/hello}"> Back </a>
				</p>
			</div>
			<div class="col-sm-6">
				<h2>Evolent Health Contact List</h2>
			</div>
			<div class="col-sm-4">
				<button type="button" id="addButton" class="btn btn-primary"
					data-toggle="modal" data-target="#myModal"
					style="margin-top: 16px;">Add Contact</button>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<table id="contactTable"
					class="table table-bordered table-condensed table-striped">
					<thead>
						<tr>
							<th>Edit</th>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Email</th>
							<th>Phone Number</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody id="contactData"></tbody>
				</table>
			</div>
		</div>

	</div>

	<!-- The Modal -->
	<div class="modal" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Add New Contact</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<div class="panel panel-primary">
						<div class="panel-heading">Contact Detail</div>
						<div class="panel-body"></div>
						<div class="form-group">
							<label for="firstname"
								style="max-width: 20%; margin-right: 40px; margin-left: 10px;">First
								Name</label> <input type="text" id="firstname" class="form-control"
								style="display: inline-block; width: 70%; float: right; margin-right: 30px;" />
						</div>
						<div class="form-group">
							<label for="lastname"
								style="max-width: 20%; margin-right: 40px; margin-left: 10px;">Last
								Name</label> <input type="text" id="lastname" class="form-control"
								style="display: inline-block; width: 70%; float: right; margin-right: 30px;" />
						</div>
						<div class="form-group">
							<label for="email"
								style="max-width: 20%; margin-right: 40px; margin-left: 10px;">Email</label>
							<input type="text" id="email" class="form-control"
								style="display: inline-block; width: 70%; float: right; margin-right: 30px;" />
						</div>
						<div class="form-group">
							<label for="username"
								style="max-width: 20%; margin-right: 40px; margin-left: 10px;">User
								Name</label> <input type="text" id="username" class="form-control"
								style="display: inline-block; width: 70%; float: right; margin-right: 30px;" />
						</div>
						<div class="form-group">
							<label for="password"
								style="max-width: 20%; margin-right: 40px; margin-left: 10px;">Password</label>
							<input type="password" id="password" class="form-control"
								style="display: inline-block; width: 70%; float: right; margin-right: 30px;" />
						</div>
						<div class="form-group">
							<label for="pnumber"
								style="max-width: 20%; margin-right: 40px; margin-left: 10px;">Phone
								Number</label> <input type="text" id="pnumber" class="form-control"
								style="display: inline-block; width: 60%; float: right; margin-right: 30px;" />
						</div>
					</div>
				</div>

				<!-- Modal footer -->
				<div class="modal-footer">
					<button type="button" class="btn btn-green" onclick="addContact();">Add
						Contact</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>

			</div>
		</div>
	</div>

	<!-- The Modal -->
	<div class="modal" id="editModal">
		<div class="modal-dialog">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Edit Contact Details</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<div class="panel panel-primary">
						<div class="panel-heading">Contact Detail</div>
						<div class="panel-body"></div>
						<input type="text" id="id" class="form-control"
							style="display: none;" readonly />
						<div class="form-group">
							<label for="firstname1"
								style="max-width: 20%; margin-right: 40px; margin-left: 10px;">First
								Name</label> <input type="text" id="firstname1" class="form-control"
								style="display: inline-block; width: 70%; float: right; margin-right: 30px;"
								readonly />
						</div>
						<div class="form-group">
							<label for="lastname1"
								style="max-width: 20%; margin-right: 40px; margin-left: 10px;">Last
								Name</label> <input type="text" id="lastname1" class="form-control"
								style="display: inline-block; width: 70%; float: right; margin-right: 30px;"
								readonly />
						</div>
						<div class="form-group">
							<label for="email1"
								style="max-width: 20%; margin-right: 40px; margin-left: 10px;">Email</label>
							<input type="text" id="email1" class="form-control"
								style="display: inline-block; width: 70%; float: right; margin-right: 30px;"
								readonly />
						</div>
						<div class="form-group">
							<label for="pnumber1"
								style="max-width: 20%; margin-right: 40px; margin-left: 10px;">Phone
								Number</label> <input type="text" id="pnumber1" class="form-control"
								style="display: inline-block; width: 60%; float: right; margin-right: 30px;" />
						</div>
						<div class="form-group">
							<label for="active"
								style="max-width: 20%; margin-right: 40px; margin-left: 10px;">Active</label>
							<input type="checkbox" id="active" class="form-control"
								style="display: inline-block; width: 6%; float: right; margin-right: 58%;" />
						</div>
						<div class="form-group">
							<button type="button" class="btn btn-primary"
								onclick="addNewContact();" style="margin-left: 10px;">Add
								/ Edit Contact</button>
						</div>
					</div>
				</div>

				<!-- Modal footer -->
				<div class="modal-footer">
					<button type="button" class="btn btn-primary"
						onclick="updateContact();">Update Contact</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>

			</div>
		</div>
	</div>

	<!-- The Modal -->
	<div class="modal" id="contactModal">
		<div class="modal-dialog">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Contact List(s)</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<div class="panel panel-primary">
						<div class="panel-heading">Contact Detail</div>
						<div class="panel-body">
							<button type="button" class="btn btn-primary" onclick="addNew();">Add
								New</button>
							<input type="text" id="uid" class="form-control"
								style="display: none;" readonly />
						</div>
						<div class="row">
							<div class="col-sm-12">
								<table id="contactList"
									class="table table-bordered table-condensed table-striped">
									<thead>
										<tr>
											<th>Phone Number(s)</th>
											<th>Status (Active / Inactive)</th>
										</tr>
									</thead>
									<tbody id="contactListData"></tbody>
								</table>
							</div>
						</div>
					</div>
				</div>

				<!-- Modal footer -->
				<div class="modal-footer">
					<button type="button" class="btn btn-green"
						onclick="updateListContact();">Update</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>

			</div>
		</div>
	</div>

</body>
</html>